.select-text {
  color: #5e51e0;
  font-size: 20px;
  font-weight: 550;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

input[type="text"] {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 25%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background: transparent;
  padding-left: 20px;
}

.effect-1 {
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399ff;
  transition: 0.4s;
}
.effect-1:focus ~ .focus-border {
  transition: 0.4s;
  width: 25%;
}

.search-container {
  position: relative;
}

.searchUser {
  position: absolute;
  top: 25%;
  left: 0;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.pagination {
  justify-content: flex-end;
  display: flex;
}

.arrow:disabled{
  cursor: not-allowed;
}

.arrow{
  padding: 5px 10px;
  background-color: #ebf0f2;
  border: 1px solid #dde0e5;
  color: #2510d7;
  border-radius: 5px;
}